body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #555;
}

ul {
    list-style-type: square;
}

a {
    color: #1a73e8;
    text-decoration: none;
}
